.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    margin-top :20px;
    margin-bottom: 30px;
}


.solar-form-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 720px;
    height: 500px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden; */
      align-items: center;
  width: 50%;
  /* height: 90vh; */
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.new-style-class{
    filter: blur(10px);
}
.step1-heading {
    font-size: 20px;
    font-weight: 500;
    margin:   10px 6px 8px;
}

.step1-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem
}

.step1-container, .step1-selected-container  {
    margin-top: 1rem;
    padding:1.5rem 2rem;
    border: 2px solid #cccc;
    border-radius: 10px;
    transition: border 0.3s ease;
    cursor: pointer;
}

.step1-selected-container {
    border: 2px solid #25aa3d;
}

.step1-container:hover {
    border: 2px solid #25aa3d;
}

.step1-options-text {
    color: black;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 80%;
    line-height: 1.2;
    text-transform: capitalize;
}

.step1-selected-options-text {
    color: #25aa3d;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 80%;
    line-height: 1.2;
    text-transform: capitalize;
}

.container {
    /* position: relative;
    width: 400px;
    height: 250px; */
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.steps-indicator {
    margin-bottom: 10px;
}

.step {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    background-color: lightgray;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.step.active {
    background-color: #007bff;
}

/* .transition-wrapper {
    position: relative;
    width: 100%;
    height: 80%;
} */

.step2-options-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.step2-container, .step2-selected-container {
    width: 42%;
    padding: 0.5rem 1rem;
    border: 2px solid #cccc;
    border-radius: 10px;
    transition: border 0.3s ease;
    cursor: pointer;
}


.step2-selected-container {
    border: 2px solid #25aa3d;
}

.step2-container:hover {
    border: 2px solid #25aa3d;
}

.step2-options-text {
    color: black;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
}

.alphabet-text {
    color: black;
    font-size: 14px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    padding: 2px 7px 2px 7px;
    margin: 10px;
}

.alphabet-selected-text {
    color: white;
    background-color: #25aa3d;
    font-size: 14px;
    border: 1.5px solid #25aa3d;
    border-radius: 5px;
    padding: 2px 7px 2px 7px;
    margin: 10px;
}

.component {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out, opacity 0.3s ease-in-out;
}

/* Slide-in from the right */
.slide-in {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}

/* Slide-out to the left */
.slide-out-left {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 0;
}

/* Slide-out to the right */
.slide-out-right {
    transform: translateX(100%);
    opacity: 0;
    z-index: 0;
}

.autoComplete-style {
    width: 100%;
    /* height: 40px; */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    /* margin-top: 20px; */
}

.step4-options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    gap: 1rem;
}

.step8-options-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.autoComplete-text-style {
    font-size: 10px;
    align-self: center;
    text-align: left;
    width: 70%;
}

.step5-options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.phone-description-text {
    font-size: 11px;
    font-weight: 400;
    width: 75vw;
    font-style: italic;
    text-align: left;
   
}

.text-underline {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

.resend-otp-text {
    cursor: pointer;
    /* margin-top: 20px; */
    width: 16%;
    align-self: center;
    color: #007bff;
}

.resend-text {
    user-select: none;
    /* margin-top: 20px; */
    width: 50%;
    align-self: center;
}
/* Ensure the roofing-form-container is relative so the overlay can be positioned inside it */
/* Ensure the roofing-form-container is relative so the overlay can be positioned inside it */
/* .roofing-form-container {
    position: relative; /* Position relative for absolute positioning of the loader */


/* Loader styling: Make the loader center both horizontally and vertically */
.overlay-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This ensures the loader is centered */
    z-index: 9999; /* Make sure it appears above the form */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width and height */
    height: 100%; /* Cover the entire container */
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background to dim the content */
    /* No backdrop-filter here, so background won't be blurred */
}

/* Style for the CircularProgress (loader) */
.overlay-loader .MuiCircularProgress-root {
    color: #1976d2; /* Loader color, you can change it */
}

/* .transition-wrapper {
    position: relative;
    z-index: 1;  
} */

.component {
    /* Your styling for individual form steps */
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    position: relative  !important;
}



.step1-dropdown-container select {
    appearance: auto; /* Ensure the default appearance is used (the arrow shows) */
    -webkit-appearance: auto; /* For Safari */
    -moz-appearance: auto; /* For Firefox */
    padding-right: 30px; /* Add some padding to the right if needed */
}

.step2-dropdown-container select{
    appearance: auto; /* Ensure the default appearance is used (the arrow shows) */
    -webkit-appearance: auto; /* For Safari */
    -moz-appearance: auto; /* For Firefox */
    padding-right: 30px; /* Add some padding to the right if needed */  
}

.step3-dropdown-container select{
    appearance: auto; /* Ensure the default appearance is used (the arrow shows) */
    -webkit-appearance: auto; /* For Safari */
    -moz-appearance: auto; /* For Firefox */
    padding-right: 30px; /* Add some padding to the right if needed */  
}
.step1-dropdown-container, .step2-dropdown-container, .step3-dropdown-container{
    padding: 0 1rem;
}

@media (max-width: 570px) {
    .step4-options-container {
        gap: 0
    }
    .solar-form-container {
        width: -webkit-fill-available !important;
    }
.dot-lottie-roofing{
    margin-top: -2rem;
}
}

@media (max-width: 500px) {
    .solar-form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 70%;
        border-radius: 10px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
    }

    .component{
        height: 70%;
    }


    .step1-heading {
        /* font-size: 20px; */
        /* font-weight: 400; */
        /* padding-left: 10px;
        padding-right: 10px; */
    }
/* 
    .step1-options-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .step1-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 80px;
        border: 2px solid #cccc;
        margin: 10PX;
        border-radius: 10px;
        margin-top: 20px;
        transition: border 0.3s ease;
        cursor: pointer;
        padding-left: 10px;
    }


    .step1-selected-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 80px;
        padding-left: 10px;
        border: 2px solid #25aa3d;
        margin: 10PX;
        border-radius: 10px;
        margin-top: 20px;
        transition: border 0.3s ease;
        cursor: pointer;
    }

    .step1-container:hover {
        border: 2px solid #25aa3d;
    }

    .step1-options-text {
        color: black;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        width: 80%;
        line-height: 1.2;
    } */

    .step8-options-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .resend-otp-text {
        cursor: pointer;
        /* margin-top: 20px; */
        width: 30%;
        align-self: center;
        color: #007bff;
    }
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    
    .step2-selected-container1{
            border: 2px solid #25aa3d !important;
           
        }
        .step2-container1:hover {
            border: 2px solid #25aa3d;
        }
       /* Ensure the roofing form container is positioned correctly */

}

@media (max-width: 500px) {
    .solar-form-container {
        width: -webkit-fill-available !important;
    }
    .step2-container, .step2-selected-container{
        width: 40%;
    }
    .step1-heading{
        /* font-size: 14px !important; */
    }
    .form-control{
      font-size: 12px !important;
    }
    .phone-description-text{
        width: -webkit-fill-available !important;
         font-size: 9px;
    }
   
}

@media (max-width: 490px) {
    .text-container{
       font-size: 8px !important;
    }
    .error_div{
        font-size: 12px !important;
        text-align: center;
    }
    .phone-description-text{
        width: -webkit-fill-available !important;
        font-size: 7px !important;
        padding: 10px !important;
    }
}

@media (max-width: 350px) {
  
    .phone-description-text{
        width: -webkit-fill-available !important;
         font-size: 9px;
    }
}

/* Media query for 768px to 1024px screens */
@media (min-width: 769px) and (max-width: 1023px) {
    .phone-description-text {
        width: 75vw !important;
        font-size: 15px !important;
        margin-top: 3px !important;
    }
}

/* Media query for screens larger than 1024px */
@media (min-width: 1024px) {
    .phone-description-text {
        width: 75vw !important;
        font-size: 17px !important;
        margin-top: 3px !important;
    }
}
