#trusted{
    margin-top: 20px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content:center;
    column-gap: 35px;
    align-items: center;
}

@media (max-width: 432px) {
    #trusted{
        display: block !important ;
    }
}
