.benefit-top {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    /* margin:20px 0px 0px 10px; */
}

.Second-Sec-Benefit {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.benefits-list {
    margin-top: 25px;
    max-width: 50%;
}

.benefit-image {
    display: flex;
    justify-content: center;
    max-width: 40%;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.benefit-text-style {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    margin-top: 10px;
    margin-bottom: 18px;
}

.blue-back {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    background-color: #5352C9;
    border-radius: 20px;
    width: auto;
    padding: 15px;
}

.blue-back h2 {
    color: #FFF;
    font-size: 24px !important;
    font-weight: 600 !important;
    margin: 4px 0 !important;
    width: 100% !important;
    text-align: center;
}

.blue-back img {
    margin-bottom: 16px;
}

@media (max-width: 500px) {
    .Second-Sec-Benefit {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .benefit-image {
        display: flex;
        justify-content: center;
        max-width: 90%;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .benefits-list {
        margin-top: 25px;
        max-width: 100%;
        padding: 15px;
    }

} 

@media (max-width: 370px) {
    .blue-back{
      width: -webkit-fill-available;
    }
}