.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #5352C9;
    border-radius: 10px;
    margin-left: 15%; /* Smaller left margin */
    margin-right: 15%; /* Smaller right margin */
    padding: 20px 0px; /* Reduced top and bottom padding */
    width: 70%; /* Smaller width */
}

.faq-heading {
    color: white;
    font-size: 24px; /* Reduced font size */
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
}

.faq-sub-heading {
    color: white;
    font-size: 18px; /* Reduced font size */
    font-family: "Poppins";
    font-weight: 200;
    margin-bottom: 1.5%; /* Reduced margin */
    text-align: center;
}

.question-container {
    display: flex;
    flex-direction: column;
}

.question-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px; /* Reduced bottom margin */
    padding: 8px 0px 8px 12px; /* Smaller padding */
    cursor: pointer;
    margin: 5px; /* Reduced outer margin */
}

.question-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin-bottom: 3px; /* Reduced margin */
}

.question {
    color: black;
    font-size: 14px; /* Smaller font size */
    font-family: "Poppins";
    font-weight: 500;
}

.faq-arrow-icon {
    display: flex;
    align-self: flex-end;
}

.answer {
    color: black;
    font-size: 12px; /* Smaller font size */
    font-weight: 400;
    font-family: "Poppins";
    width: 90%;
    margin-bottom: 30px; /* Reduced margin */
}
@media (max-width: 600px) {
    .faq-container {
        width: 90%; /* Adjust to fit smaller screens */
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 25px;
        
    }
}