#thankyou-class{
    display: grid;
        justify-items: center;
        /* margin-top: 3rem; */
}

#thankyou-logo-img{
    width: 90px;
    height: 50px;
    margin: 1rem;
}

.thank-you-text {
    color: black;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Poppins";
}

.sub-thank-you-text {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins";
}

.describe-thank-you-text {
    color: black;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Poppins";
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 15rem; */
}

.thank-you-card-container {
    width: 26%;
    height: 80dvh;
    background-color: white;
    border-radius: 15px;
    margin-top: 3%;
    border: 1px solid #f1f2f6;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-heading {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.card-sub-heading {
    color: #25aa3d;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-sub-heading-point-text {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}



@media (max-width: 500px) {

    .sub-thank-you-text{
        margin-top: 73px !important;
        font-size: 30px !important;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .thank-you-card-container {
        width: 90%;
        height: 87dvh !important;
        background-color: white;
        border-radius: 15px;
        margin-top: 3%;
        border: 1px solid #f1f2f6;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
        margin-bottom: 3%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.thankyou-loader-div{
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    height: -webkit-fill-available;
}

.thankyou-loader-text{
    padding: 1.5rem;
}

.thankyou-lottie{

}

.thankyou-loader-img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.thankyou-this-img{
    border-radius: 20px;
    width: 100%;
    height: -webkit-fill-available;
}

.thankyou-this-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;
  }

  .thankyou-loader-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 315px;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 90%);
    pointer-events: none;
}

.loading-spinner{
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center; */
}