#windowSection {
    height: 100dvh;
    background: url("../../assets/windowBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}
#gutterSection {
    height: 100dvh;
    background: url("../../assets/gutterBg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}
#bathroomSection {
    height: 100dvh;
    background: url("../../assets/bathroomBg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}

#solarSection {
    height: 100dvh;
    background: url("../../assets/solarLogo/solar_bg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}
#homeWarrantySection {
    height: 100dvh;
    background: url("../../assets/homeWarranty/homewarranty_bg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}
#flooringSection {
    height: 100dvh;
    background: url("../../assets/flooringLogo/flooring_bg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}
/* #homeSection {
  height: 100dvh;
  background: url("../../assets/roofing/roofing_background_Img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
    width: 100%;
} */
#homeSection {
    height: 100dvh;
    background: url(/src/assets/roofing/roofing_background_Img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    /* position: relative; */
}
#main-btn {
    /* width: 180px; */
    width: fit-content;
}
#form-1 {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
}
.hero-content {
    z-index: 1;
}
#main-h {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    margin-top: 50px;
}
.green {
    background-color: #2e7d32;
    padding: 1px 12px;
}
#logos {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    #form-1 button {
        width: -webkit-fill-available;
        /* font-size: 0.66rem; */
    }
    #main-h {
        font-size: 21px;
        margin-top: 5rem;
    }
}

@media (max-width: 600px) {
    #homeSection {
        min-height: 55vh;
        padding: 0 4vw;
        background-position: top;
    }
}
