.page-contain {
    padding: 40px 100px 40px 100px;
  }

  .contain p {
    margin: 10px 50px 10px 50px;
}

h4, .h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
}