.step-counter-container{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    width: -webkit-fill-available;
}
.percentage-title{
    color: #000;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 600;
    position: absolute;
    right: 0px;
}
.step-count-line {
    /* position: absolute; */
    top: -10px;
    left: 10px;
    background-color: #5352c9;
    height: 4px;
    border-radius: 10px;
    margin: 0px auto;
    margin-left: 10px;
    transition: width 0.5s ease-in-out;
    transform-origin: left;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.05);
}

.form-next-prev-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    margin-bottom: 15px;
    gap: 2rem;
    flex-wrap: wrap;
}