/* #header {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    background: transparent;
    justify-content: center;
    position: absolute;
    top: 0;
} */

#header {
    width: 100%;
    display: flex
;
    display: -webkit-flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    background: transparent;
    justify-content: space-between;
}

#call {
    /* position: absolute;
    right: 60px; */
}

/* @media (max-width: 420px) {
    #call {
        position: absolute !important;
    }
} */

@media (max-width: 768px) {
    #header {
        /* width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        align-items: center;
        justify-content: space-between; */
        
    }

    /* #call {
        position: relative;
        right: 7px;
    } */

}

@media (max-width: 420px) {
 #header{
    img{
        width:80px
    }

    #call{
        /* right: 25px; */

        .css-hg3zqn-MuiButtonBase-root-MuiButton-root{
            font-size: 12px;
        }
    }
 }
}