.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-manager {
    margin: 30px 0;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.heading {
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins";
    line-height: .5;
}

.sub-heading {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
}

@media (max-width: 768px){
.logo-container {
     .logo-manager {
        flex-wrap: wrap;
     }
}

}

@media (max-width: 460px) {
    .logo-manager {
        margin: 30px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .logos-image {
        margin-bottom: 40px;
    }
    .logo-manager img{
         height: 78;
         width: 90px;
    }
    .sub-heading{
        font-size: 15px;
    }
}