.thank-you-text {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Poppins";
}

.sub-thank-you-text {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins";
}

.describe-thank-you-text {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Poppins";
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.thank-you-card-container {
    width: 26%;
    height: 80vh;
    background-color: white;
    border-radius: 15px;
    margin-top: 3%;
    border: 1px solid #f1f2f6;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-heading {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.card-sub-heading {
    color: #25aa3d;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-sub-heading-point-text {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}


@media (max-width: 500px) {
    .sub-thank-you-text{
        margin-top: 73px !important;
        font-size: 30px !important;
    }


    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .thank-you-card-container {
        width: 90%;
        height: 87vh !important;
        background-color: white;
        border-radius: 15px;
        margin-top: 3%;
        border: 1px solid #f1f2f6;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
        margin-bottom: 3%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}