.floor-step1-selected-options-text {
    color: rgb(37, 170, 61);
}
.floor-step1-selected-container,
.floor-step1-container {
    margin-top: 1rem;
    padding: 1.5rem 2rem;
    border: 2px solid #cccc;
    border-radius: 10px;
    transition: border 0.3s ease;
    cursor: pointer;
    max-width: 240px;
    min-width: 200px;
    width: auto;
    height: 140px;
}
.floor-step1-selected-container,
.floor-step2-selected-container {
    border: 2px solid rgb(37, 170, 61);
}

.floor-step2-container,
.floor-step2-selected-container {
    width: 42%;
    padding: 0.5rem 1rem;
    border: 2px solid #cccc;
    border-radius: 10px;
    transition: border 0.3s ease;
    cursor: pointer;
}

.floor-step1-container img,
.floor-step1-selected-container img {
    margin: auto;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .floor-step1-selected-container,
    .floor-step1-container {
        width: auto !important;
        height: auto !important;
        padding: 5px;
        display: block !important;
    }
}

@media (max-width: 500px) {
    .floor-step2-container,
    .floor-step2-selected-container {
        min-height: 110px;
    }
    .floor-step2-selected-container {
        border: 2px solid rgb(37, 170, 61);
    }

    .floor-step1-container img,
    .floor-step1-selected-container img {
        margin: auto;
    }
}
