/* :root {
    font-family: "Poppins", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body,
html,* {
    margin: 0;
    font-family: "Poppins", sans-serif;
} */